<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>333396883428-at9p7sdcc6i13ktmovbp8n5771togqu8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtlG5vKyYCL9cDhZTtITFvnSzr-0rf6vI</string>
	<key>GCM_SENDER_ID</key>
	<string>333396883428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monosoft.thinkBack.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pagosproumm</string>
	<key>STORAGE_BUCKET</key>
	<string>pagosproumm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333396883428:ios:5572a8e70ff07d589c79f1</string>
	<key>DATABASE_URL</key>
	<string>https://pagosproumm.firebaseio.com</string>
</dict>
</plist>